.summary__notifyPerson-items {
    display: flex;
    flex-wrap: wrap;
}

.summary__notifyPerson-item {
    margin-right: 15px;
}

.summary__notifyPerson-txt {
    color: white;
    font-size: 16px;
}