#toast-container {
    top: 0 !important;
    right: 55px !important;
    animation: fade-in 400ms ease-in-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(35rem);
    }

    to {
        opacity: 1;
        transform: translateY(0rem);
    }
}