.control-title__list {
    display: flex;
    border: none !important;
    width: 100%;
    margin: 0 auto !important;
}

.control-title__item {
    position: relative;
    width: 33.3%;
    border-right: 2px solid #546e7a;
    border-top: 2px solid #455a64;
}

.control-title__close {
    display: block;
    position: absolute;
    top: 12px;
    right: 8px;
    color: aqua;
}

.control-title__close:hover {
    color: #ef5350;
}

.control-title__item:hover {
    border-top: 2px solid aqua;
}

.control-title__item:first-child {
    border-left: 2px solid #546e7a;
}

.control-title__header {
    padding: 1rem !important;
    background-color: transparent !important;
    border-bottom: none !important;
    color: white !important;
    font-size: 17px;
}

.control-title__active {
    background-color: #546e7a;
}

.control-title__active:hover {
    border-top: 2px solid #455a64;
}

.control-title__active .control-title__header {
    color: aqua !important;
}