.summary-forms {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
}

.summary {
    width: 32.5%;
}

.summary-head span {
    font-weight: bold !important;
}

.summary__body {
    color: white;
    font-size: 16px;
}

.summary__body span {
    color: aqua;
}

.summary__body-closing span {
    color: white;
}

.summary__body p {
    margin: 7px 0 !important;
}


.summary__checkBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summary__checkBox-topCheckBox {
    align-items: unset;
}

.summary__checkbox-content {
    display: flex;
    flex-direction: column;
}

.summary__chooseInsideLabel {
    color: white;
}

.summary__ops {
    display: flex;
    align-content: center;
}

.summary__ops p {
    margin: 0 !important;
}

.summary__ops-input {
    width: 13.5% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 1px 5px 2px 6px !important;
    border: none !important;
    color: #0d47a1;
    font-weight: bold;
    border-bottom: 3px solid #fb8c00 !important;
}

.summary__ops-input-colors {
    color: #1b5e20;
    background-color: #69f0ae !important;
    border-bottom: 3px solid #69f0ae !important;
}

.summary__ops-input::placeholder {
    color: white;
    /*padding: 0 5px !important;*/
    opacity: 0.7 !important;
    /*letter-spacing: 0.3px !important;*/
    caret-color: whitesmoke !important;
}

.summary__ops-input:focus {
    border-bottom: none !important;
    box-shadow: 0 3px 0 0 rgba(255, 255, 255, .7) !important;
}

.summary__ops-input-colors:focus {
    border-bottom: none !important;
    box-shadow: 0 3px 0 0 white !important;
}

.summary__time-inputs {
    display: inline;
    /*display: flex;*/
    /*justify-content: flex-start;*/
}

.summary__time-input {
    width: 23px;
    height: 22px;
    border: none;
    outline: none;
}

.summary__time-input:first-child {
    /*margin-left: 7px;*/
}

.summary__area {
    resize: none;
    outline: none;
    border: none;
    border-bottom: 3px solid #4db6ac;
    border-radius: 3px;
    color: #e0f2f1;
    opacity: .8;
    background-color: #455a64 !important;
    font-size: 18px;
    /*background-color: #78909c !important;*/
    padding: 3px 10px;
}

.summary__area:focus {
    color: black;
    background-color: white !important;
    border-color: #ff9800;
    opacity: unset;
}

.summary__area::placeholder {
    color: #b2dfdb;
    /*opacity: .3;*/
}

.summary__whoIsNotify {
    display: flex;
    /*width: 70%;*/
    flex-shrink: 0;
}

.summary__whoIsNotify-title {
    flex-shrink: 0;
    margin-right: 15px;
}

/*Скрыть placeholder при focus*/
:focus::-webkit-input-placeholder {
    color: transparent
}

:focus::-moz-placeholder {
    color: transparent
}

:focus:-moz-placeholder {
    color: transparent
}

:focus:-ms-input-placeholder {
    color: transparent
}