.classesOpen, .classesNotify, .classesClose {
    display: none;
}

.test, .test2 {
    display: block;
}

.control-panel {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto !important;
}

.control-panel__actions {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    background-color: #546e7a;
    margin: 0 auto;
    padding: 0 25px;
}

.control-panel__actions span:before {
    top: 3px !important;
}

.control-panel__actions span:after {
    border: 1px solid white !important;
    top: 3px !important;
}

.control-panel__main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.control-panel__header {
    display: flex;
    width: 100%;
    padding: 15px 0 20px;
}

.control-panel__footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    border-top: 2px solid rgba(160,160,160,0.2);
    padding: 20px 0;
}

.control-panel__footer-closing {
    justify-content: flex-end;
}

.control-panel__footer-notify {
    justify-content: center;
}

.control-panel__footer-radio {
    height: 47px;
    padding-top: 10px;
    margin-left: 30px;
    color: white !important;
}

.control-panel__footer-notify span {
    color: white !important;
    line-height: 25px !important;
}

[type="radio"] + span::before {
    border: 1px solid white !important;
}

.control-panel__footer-even label {
    height: 47px;
    margin-left: 30px;
    padding-top: 10px;
    cursor: pointer;
}

.control-panel__footer-even label:first-child {
    margin-left: 0;
}

.control-panel__footer-radio:first-child {
    margin-left: 0;
}

.control-panel__select {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .control-panel__footer {
        flex-direction: row;
    }

    .control-panel__select {
        width: 28%;
        margin-bottom: 0;
    }
}

.control-panel__label {
    position: absolute;
    top: -14px;
    left: 14px;
    color: black;
    padding: 2px 7px;
    background-color: #26a69a;
    border-radius: 3px;
    z-index: 1000;
}

.control-panel__time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 28%;
    padding-right: 15px;
}

.control-panel__time span {
    font-size: 30px;
    margin-left: 2px;
}

.control-panel__data {
    color: white;
}