.css-319lph-ValueContainer {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.css-6j8wv5-Input {
    margin-top: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.material-icons {
    cursor: pointer;
}

.material-icons:hover {
    color: #ef5350;
}