body {
  position: relative;
  margin: 0;
  background-color: #78909c;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hide {
  display: none;
}

.content {
  min-height: calc(100vh - 64px - 56px - 70px + 1px);
  padding: 1.5rem 0;
  width: 100% !important;
  max-width: 98% !important;
}

.app__body-overflow {
  overflow: hidden;
}

.ml-15 {
  margin-left: 15px;
}

.colorAqua {
  color: aqua;
}

.colorAqua2 {
  color: #26a69a;
}

.height100 {
  min-height: 100px !important;
}

.btn-large {
  width: 190px;
  height: 45px;
  line-height: normal;
  text-transform: none;
  letter-spacing: normal;
  color: #818181 !important;
  background-color: white !important;
}

.btn__color-orange {
  background-color: #26a69a !important;
  color: black !important;
}

.btn__color-orange:hover {
  background-color: #ef5350 !important;
}

.m0 {
  margin: 0;
}

.mt-7 {
  margin-top: 7px;
}

.pulse::before {
  animation: pulse-animation 3s cubic-bezier(0.24, 0, 0.38, 1) infinite;
}


.txt-out {
  display: flex;
  justify-content: space-around;
}

.txt-out__card-body {
  width: 30%;
  background-color: white;
  /*background-color: #b2dfdb;*/
  border-radius: 3px;
}

.txt-out__card-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.txt-out__helper {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.txt-out__card {
  display: block !important;
  max-width: 100% !important;
  resize: none;
  outline: none;
  font-size: 18px;
  border: none;
  border-radius: 3px;
  color: black;
  background-color: white !important;
  padding: 3px 10px;
}

.txt-out__card:focus {
  /*background-color: #e1f5fe !important;*/
}

.txt-out__helper .txt-out__card {
  max-width: 100% !important;
}

.txt-out__helper .txt-out__card-body {
  width: 100% !important;
}

.txt-out__helper .txt-out__card-body:first-child {
  margin-bottom: 50px;
}

.toast {
  background-color: #26a69a !important;font-weight: bold !important;
}

.main__btn-showTable {
  display: block;
  margin: 0 auto;
  /*margin-bottom: 20px;*/
}

.main__icon-showTable {
  color: #4ea7a2 !important;
  font-size: 30px !important;
}

.main__table {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  min-width: 100vw;
  min-height: calc(100vh + 1px);
  background-color: rgba(0, 0, 0, .88);
  padding: 50px 30px;
  z-index: 100000;
}

.main__action {
  position: fixed;
  right: calc(50% - 28px);
  bottom: 50px;
}

.main__action-btn {
  /*margin-left: 20px;*/
  background-color: #ef5350 !important;
}

.main__action-btn:hover {
  filter: brightness(75%) !important;
}

.main__action-btn i {
  font-size: 30px !important;
}

.main__action-btn-green i {
  font-size: 20px !important;
}

.main__action-btn-green {
  display: block;
  /*margin: 10px 15px 10px 0 !important;*/
  background-color: #4ea7a2 !important;
}

.main__action-btn-green:hover {
  filter: brightness(120%) !important;
}

.react-datepicker-popper {
  z-index: 2000;
}

.react-datepicker-wrapper input{
  padding-left: 10px !important;
  box-sizing: border-box !important;
}

