body {
  position: relative;
  margin: 0;
  background-color: #78909c;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hide {
  display: none;
}

.content {
  min-height: calc(100vh - 64px - 70px - 55px - 76px + 1px);
  padding: 1.5rem 0;
  width: 100% !important;
  max-width: 98% !important;
}

.app__body-overflow {
  overflow: hidden;
}

.ml-15 {
  margin-left: 15px;
}

.colorAqua {
  color: aqua;
}

.colorAqua2 {
  color: #26a69a;
}

.height100 {
  min-height: 100px !important;
}

.btn-large {
  width: 190px;
  height: 45px;
  line-height: normal;
  text-transform: none;
  letter-spacing: normal;
  color: #818181 !important;
  background-color: white !important;
}

.btn__color-orange {
  background-color: #26a69a !important;
  color: black !important;
}

.btn__color-orange:hover {
  background-color: #ef5350 !important;
}

.mt-7 {
  margin-top: 7px;
}

.pulse::before {
  animation: pulse-animation 3s cubic-bezier(0.24, 0, 0.38, 1) infinite;
}

